{% extends "base.html" %}

{% block content %}
<div class="container py-5">
    <h1 class = "display-5 fw-bold text-dark">Κατανεμημένα Συστήματα</h1>
    <h2 class = "text-dark">ΕΜΠ ΗΜΜΥ</h2>
    <h2 class = "text-dark">2022 - 2023</h2>
    <p class = "display-3 col-md-8 fs-4 text-dark">Δημήτριος Κυριακίδης</p>
    <p class = "display-3 col-md-8 fs-4 text-dark">Η εφαρμογή αυτή είναι συνοδευτική της εργασίας στον ακόλουθο σύνδεσμο: <a href="https://github.com/DimK19/when-lambo">github.com/DimK19/when-lambo</a>.</p>
</div>
{% endblock %}
