{% extends "base.html" %}
{% block content %}
<div class="row  row-cols-1 row-cols-md-2 g-4">
    <div class="col">
        <div class="card">
            <img src="{{ url_for('static', filename = 'images/' + data.name.lower() + '.jpg') }}" alt="" width="100%" class="bd-placeholder-img card-img-top">
            <div class="card-body">
                <h5 class="card-title text-dark">Node #{{data.id}}</h5>
                <p class="card-text text-dark"><strong>Name:</strong> "{{data.name}}"</p>
                <p class="card-text text-dark"><strong>IP:</strong> {{data.ip}}</p>
                <p class="card-text text-dark"><strong>Port:</strong> {{data.port}}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
